.quick-search-container {
	padding-block: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 16px;
}

.quick-search-button {
	text-align: center;
	padding: 12px 24px;
	border-radius: 999px;
	border: 2px solid var(--surface);
	outline: none;
	font-size: var(--font-sm);
	font-weight: 500;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	background-color: transparent;
	color: var(--white);
}

.quick-search-button:hover {
	background-color: var(--accent);
	opacity: 0.8;
}
