/* roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* reset */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* colors */
	--white: #fff;
	--muted: #a1a1aa;
	--black: #000;
	--background: #171918;
	--surface: #202322;
	--accent: #45b175;
	--background-transparent: rgba(0, 0, 0, 0.5);

	/* font size */
	--font-xs: 0.625rem; /* 10px */
	--font-sm: 0.775rem; /* 12.4px */
	--font-md: 1rem; /* 16px */
	--font-lg: 1.25rem; /* 20px */
	--font-xl: 1.5rem; /* 24px */
	--font-2xl: 2rem; /* 32px */
	--font-3xl: 2.5rem; /* 40px */
	--font-4xl: 3rem; /* 48px */
	--font-5xl: 4rem; /* 64px */

	/* transitions */
	--transition-fast: 0.15s ease-in-out;
	--transition-normal: 0.3s ease-in-out;
	--transition-slow: 0.5s ease-in-out;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: var(--background);
	color: var(--white);
}

img {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	max-width: 1440px;
	padding-inline: 16px;
	margin-inline: auto;
}
